* {margin: 0; padding: 0; }

section#galeria {
    background: #fff;
    width: 700px;
    height: 400px;
	display: block;
    overflow: hidden; 
    box-shadow: #999 0 0 15px;
    margin: 50px;
}

section#galeria section#buttons {
    display: none;
    position: absolute;
    margin: 5px;
	z-index: 500;
}

section#galeria section#buttons  a{

    background: #333;
	width: 50px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	font: bold 23pt Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	opacity: 0.7;
}


section#galeria section#buttons  a:hover{
   background: #555;
}


section#galeria  ul
{
	list-style: none;
	display: table;
	position: relative;
}

section#galeria  ul li
{
	width: 700px;
	height: 400px;
	display: inline-block;
	position: relative;
}

/*
section#galeria  ul li img
{
	width: 20%;
	height: 20%;
}
*/

section#galeria  ul li span
{
    background: #333;
	width: 660px;
	display: table;
	opacity: 0.7;
	position: absolute;
	bottom: 0;
	margin: 10px;
	font: 12pt "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	color: #fff;
}